
// Mixin para los breakpoints.
@mixin from($breakpoint) {
    @if map-has-key($map: $breakpoints, $key: $breakpoint) {
        @media screen and (min-width: map-get($map: $breakpoints, $key: $breakpoint )) {
            @content;
        }
    } @else if type-of($value: $breakpoint) == number and unit($breakpoint) == 'px' {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}

// Mixin para vídeo.
@mixin ratio($w,$h) {
    display: grid;
    position: relative;
    grid-template-columns: repeat($w,1fr);
    grid-template-rows: repeat($h,1fr);

    &::before {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}