.line-break::before {
    display: block;
    content: "";
}

.line-break412::before {

    @include from(412px) {
        display: inline;
    }
}

.line-break548::before {

    @include from(548px) {
        display: inline;
    }
}

.line-break640::before {

    @include from(640px) {
        display: inline;
    }
}

.line-break792::before {

    @include from(792px) {
        display: block;
    }
}

.line-break960::before {

    @include from(960px) {
        display: inline;
    }
}

.line-break1200::before {

    @include from(1200px) {
        display: inline;
    }
}